:root{
    --clr-dark: #141414;
    --clr-light: #f5f5f5;
    --clr-acc1: #003152;
    --clr-acc2: #0080ff;
}

section{
    padding: 60px 0;
}

#featured-image{
    border-radius: 1vw;
    border-style: solid;
    border-color: lightgrey;
    border-width: .5px;
    box-shadow: 5px 5px 10px grey;
}

#footer-image{
    max-width: 50%;
}

#footer-image-small{
    max-width: 100%;
}